/*-----------------------------------------
    ANCHOR NAVIGATION
-----------------------------------------*/

nav.nav-anchor {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 2vh 2vw;
	text-align: center;
	background-color: var(--Black);
	@media (--1200vp) {
		background-color: var(--PrimaryThree);
		transition: all .35s linear;
		width: 100%;
		height: auto;
		max-height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		position: fixed;
		bottom: 0;
		z-index: 1005;
		&.is-active {
			max-height: 100vh;
		}
	}
	&.is_stuck {
		position: fixed;
		box-shadow: 0px 3px 5px color( var(--PrimaryThree) alpha(10%));
		width: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		max-width: inherit;
		a.brand img,
		a.brand svg {
			opacity: 1;
			transition: all .6s;
			height: 60px;
		}
		&~.default-contents.is-first {
			margin-top: 112px;
			@media (--1200vp) {
				margin-top: 0;
			}
		}
	}
	& ul {
		list-style: none;
		margin: 0 auto;
		padding: 0 2vw;
		max-width: 960px;
		display: flex;
		justify-content: space-between;
		flex-grow: 2;
		@media (--1200vp) {
			flex-wrap: wrap;
			padding: 5vw 5vw 75px 5vw;
		}
		& li {
			display: inline-block;
			margin: 0 .5em;
			@media (--1200vp) {
				margin: 0;
				width: 50%;
				text-align: left;
				margin: 2vh 0;
			}
			&.active {
				a {
					color: var(--PrimaryThree);
					@media (--1200vp) {
						color: var(--BlackCopy);
					}
				}
			}
			& a {
				text-decoration: none;
				text-transform: uppercase;
				position: relative;
				padding: 0 .5em;
				font-family: var(--HeadCopy);
				font-size: responsive 16px 16px;
				font-range: 420px 1400px;
				color: var(--White);
				@media (--1200vp) {
					font-family: var(--BodyCopy-SemiBold);
					color: var(--Black);
					line-height: 2.5;
					letter-spacing: 1px;
					font-size: 20px;
				}
				&:hover,
				&:focus {
					color: var(--PrimaryThree);
					@media (--1200vp) {
						color: var(--PrimaryOne);
					}
				}
			}
		}
	}
	.button {
		margin: 0;
		font-size: 16px;
		margin-right: 2vw;
		min-width: 200px;
		@media (--1200vp) {
			display: none;
		}
	}
	a.brand {
		display: block;
		@media (--1200vp) {
			display: none;
		}
		img,
		svg {
			height: 80px;
		}
	}
}

/*-----------------------------------------
    HAMBURGER
-----------------------------------------*/

#menu-toggle {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	padding: 10px;
	background-color: var(--Black);
	box-shadow: 0 0 6px color( var(--Black) alpha(65%));
	z-index: 2000;
	@media (--1200vp) {
		display: block;
	}
	& svg {
		fill: var(--PrimaryOne);
		width: 24px;
		margin: 0 auto;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.is-active svg {
		&:first-child {
			display: none;
		}
		&:last-child {
			display: block;
		}
	}
}