/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/

.primary-nav-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 2vh 3vw;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
	@media (--1200vp) {
		background-color: var(--Black);
		position: fixed;
		height: 84px;
		justify-content: space-between;
		padding: 2vh 5vw;
	}
	#phone-toggle,
	#search-toggle-2 {
		display: none;
		padding: 0;
		margin: 0;
		width: 30px;
		@media (--1200vp) {
			display: inline-block;
		}
	}
	.button,
	button {
		background: transparent;
		display: none;
		@media (--1200vp) {
			display: inline-block !important;
		}
	}
	&>.block {
		@media (--1200vp) {
			width: 100%;
			height: 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	& a.button {
		color: var(--PrimaryTwo);
		padding: .5em 1.25em;
		text-align: center;
		display: inline-block;
		margin: 0;
		&:hover,
		&:focus {
			color: var(--PrimaryOne);
			@media (--1200vp) {
				background: transparent;
			}
		}
		& span {
			@media (--1200vp) {
				display: none;
			}
		}
		& svg {
			display: none;
			@media (--1200vp) {
				display: block;
			}
		}
	}
}

nav.nav-primary {
	display: inline-block;
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		& li {
			display: inline-block;
			margin: 0 .35rem;
		}
	}
}

/*-----------------------------------------
    PRIMARY LOGO
-----------------------------------------*/

a.brand {
	text-decoration: none;
	display: none;
	@media (--1200vp) {
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 10px;
	}
	& img,
	& svg {
		@media (--1200vp) {
			height: 64px;
		}
	}
}

/*-----------------------------------------
    SEARH BANNER
-----------------------------------------*/

#search-toggle {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	background: transparent;
	@media (--1200vp) {
		display: none;
	}
	&:hover,
	&:focus {
		background: transparent;
	}
	& svg {
		width: 30px;
		height: 30px;
	}
	& svg:first-child {
		display: block;
	}
	& svg:last-child {
		display: none;
	}
	&.is-active {
		& svg:first-child {
			display: none;
		}
		& svg:last-child {
			display: block;
		}
	}
}

#search {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 0;
	overflow: hidden;
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--PrimaryThree);
	transition: all .25s linear;
	&.is-active {
		height: 48vh;
		@media (--1200vp) {
			height: 100vh;
		}
		svg {
			&#Layer_2 {
				opacity: 1;
				transition: opacity .25s ease-in;
			}
		}
	}
	& form {
		width: 90%;
		max-width: 800px;
		display: flex;
		& input {
			background-color: transparent;
			border: 0;
			border-bottom: 2px solid var(--Black);
			color: var(--Black);
			font-size: 2em;
			padding-left: 31px;
			text-align: center;
			margin: 0;
			width: 100%;
			height: unset;
			border-radius: unset;
			padding: unset;
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: var(--Black);
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				color: var(--Black);
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				color: var(--Black);
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color: var(--Black);
			}
		}
		& button {
			font-size: 1em;
			margin: 0;
			padding: 0;
			background-color: transparent;
			border-bottom: 2px solid var(--Black);
			width: unset;
			border-radius: 0;
		}
	}
	svg {
		&#Layer_2 {
			position: fixed;
			width: 30px;
			top: 1em;
			right: 1em;
			opacity: 0;
		}
	}
}