/*-----------------------------------------
		SOCIAL NAVIGATION
-----------------------------------------*/

nav.social-nav {
	display: flex;
	margin-top: 2rem;
	@media (--1200vp) {
		display: none;
	}
	& .social-button {
		width: 25px;
		height: 25px;
		padding: 0;
		box-shadow: none;
		margin-bottom: 0;
		&:last-child {
			margin-right: 0;
		}
	}
}