.page-template-about-annies .default-contents {
	padding-bottom: 0;
}

.page-template-about-annies .default-contents::after {
	display: none;
}

.other-kits-block,
.annie-kits-block {
	text-align: center;
	padding: 40px 2vw;
	margin: 75px 0 0 0;
	&>a {
		margin: 25px 0;
		text-decoration: none;
		display: block;
		font-family: var(--BodyCopy-Bold);
		font-size: responsive 20px 24px;
		font-range: 420px 1400px;
	}
	&>h2 {
		margin-top: 2em;
		&:first-child {
			margin-top: 0;
		}
	}
	h3 {
		padding-top: 3vh;
	}
}

.other-kits-block {
	margin-top: 0;
	padding: 10vh 2vw 18vh;
	background-image: url(../images/glitter-bg.png);
	background-position: bottom -30px center;
	background-repeat: no-repeat;
	@media (--800vp) {
		background-position: bottom right;
		background-size: 1000px;
	}
}

.annie-kits-block {
	border-top: 10px solid var(--PrimaryThree);
	margin: 0;
}

.other-kits,
.annie-kits {
	width: 100%;
	margin: 0 auto;
	background-color: var(--White);
	padding: 25px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&.four-col {
		max-width: 1400px;
		& a {
			width: 23%;
			@media (--800vp) {
				width: 48%;
			}
			@media (--550vp) {
				width: 100%;
			}
		}
	}
	&.three-col {
		max-width: 1200px;
		& a {
			width: 33%;
			padding: 1rem;
			@media (--550vp) {
				width: 100%;
			}
		}
	}
	& a {
		text-decoration: none;
	}
}

.other-kit,
.annie-kit {
	width: 100%;
	height: 100%;
	padding: 10px 10px 75px 10px;
	position: relative;
	display: inline-block;
	z-index: 1;
	transition: all .25s linear;
	&:hover,
	&:focus {
		background: color(var(--PrimaryThree) tint(75%));
		& .button {
			background: var(--PrimaryOne);
			color: var(--WhiteCopy);
		}
	}
	& img {
		width: 100%;
	}
	& h3 {
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		text-align: center;
		color: var(--BlackCopy);
		margin: .5em 0;
	}
	& p {
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		margin: 0;
	}
	& p.price {
		font-family: var(--HeadCopy);
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		text-align: center;
		margin: 0;
	}
	& .button {
		position: absolute;
		display: table;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		padding: .75em 1.25em;
		background: var(--PrimaryThree);
		color: var(--BlackCopy);
	}
}

.faq {
	h3 {
		color: var(--BlackCopy);
		font-size: 22px;
		margin-top: 6vh;
	}
}

.annies-logo {
	max-width: 200px !important;
	display: flex;
	margin: 0 auto;
}