.page-template-two-col-card .default-contents {
	padding: 2vh 0;
	&::after {
		display: none;
	}
}

/*-----------------------------------------
    CARDS
-----------------------------------------*/

.cards {
	width: 100%;
	padding-bottom: 150px;
	background-image: url(../images/glitter-bg.png);
	background-position: bottom -30px center;
	background-repeat: no-repeat;
	@media (--800vp) {
		background-position: bottom right;
		background-size: 1000px;
	}
	&>.block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90vw;
		max-width: 900px;
		margin: 0 auto;
	}
}

.card {
	width: calc(50% - 15px);
	margin: 15px 0;
	@media (--550vp) {
		width: 100%;
		margin: 15px 0;
	}
	& img {
		width: 40%;
		margin: 0 auto;
		display: flex;
	}
}