/*-----------------------------------------
    ERROR/404 PAGE
-----------------------------------------*/

.error-message {
	width: 80vw;
	margin: 0 auto 0 auto;
	& h2 {
		max-width: 500px;
	}
	& p {
		display: inline-block;
		max-width: 500px;
		color: var(--WhiteCopy);
	}
	& svg {
		width: 80px;
		position: relative;
		top: 2rem;
		margin-top: -2rem;
		margin-left: 1rem;
		fill: var(--PrimaryTwo);
	}
}

.error404 {
	& .title-section {
		padding: 20vh 0 5vh;
	}
	.next-steps {
		h3 {
			color: var(--BlackCopy);
		}
		.contact {
			height: unset;
		}
	}
}