.search,
.revisions-updates {
	.active a {
		color: var(--WhiteCopy) !important;
	}
	form {
		margin: 6vh 0;
		position: relative;
		input {
			width: 100%;
			font-family: var(--BodyCopy-Bold);
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			height: 47px;
			margin: 0 .5em 8px 0;
			color: var(--BlackCopy);
			position: relative;
			border-radius: 28px;
			padding: .5em 2em;
			&::placeholder {
				color: var(--BlackCopy);
				font-family: var(--BodyCopy);
			}
		}
		textarea {
			font-family: var(--BodyCopy-Bold);
			&::placeholder {
				color: var(--BlackCopy);
				font-family: var(--BodyCopy);
			}
		}
		a {
			position: absolute;
			left: 72%;
			top: 24%;
			text-decoration: none;
			opacity: .7;
			color: var(--BlackCopy);
			font-family: var(--BodyCopy);
			@media (--800vp) {
				display: none;
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			border: 2px solid var(--PrimaryOne);
			@media (--750vp) {
				padding: .75em 1.25em;
			}
		}
	}
	#gform_3 {
		.gform_body {
			width: 60%;
			margin: 0 auto;
			@media (--800vp) {
				width: 100%;
			}
			ul {
				li {
					label {
						color: var(--BlackCopy);
						font-size: 14px;
						font-weight: 700;
						letter-spacing: 0.78px;
						span {
							display: none;
						}
					}
					input,
					textarea {
						width: 100%;
						max-height: 100px;
						&::placeholder {
							color: var(--BlackCopy);
							font-weight: 400;
							font-size: 18px;
						}
					}
					select {
						color: var(--BlackCopy);
						font-weight: 400;
						font-size: 18px;
						height: 47px;
						&::placeholder {
							color: var(--BlackCopy);
							font-weight: 400;
							font-size: 18px;
						}
					}
					&#field_3_7 {
						font-family: var(--BodyCopy-SemiBold);
						font-size: 20px;
						line-height: 26px;
					}
					&#field_3_8 {
						width: 50%;
						padding-right: 1%;
					}
					&#field_3_9 {
						width: 50%;
						padding-left: 1%;
					}
				}
			}
		}
		.gform_footer {
			button {
				font-size: 16px;
				line-height: 30px;
				width: auto;
				position: relative;
				margin: 4vh auto;
				display: flex;
			}
		}
	}
	.search-feed {
		h4 {
			margin-top: 6vh;
			color: var(--PrimaryOne);
			font-family: var(--HeadCopy);
			font-size: 25px;
		}
	}
	.kit-feed {
		a {
			text-decoration: none;
		}
		h5 {
			color: var(--BlackCopy);
			font-family: var(--BodyCopy-SemiBold);
		}
		.kit-photo-header {
			margin-top: 5rem;
		}
		.post-preview {
			height: unset;
			padding: 4vh 10px;
			&:hover,
			&:focus {
				background-color: transparent;
				& .button {
					background: var(--PrimaryThree);
					color: var(--BlackCopy);
				}
				.pdf-card {
					&:hover,
					&:focus {
						& .button {
							background: var(--PrimaryOne);
							color: var(--WhiteCopy);
						}
					}
				}
			}
		}
		.post-preview-photos {
			margin-top: 5vh;
			.preview-image {
				width: calc(33% - 1vh);
				display: inline-block;
				height: 320px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin: .5vh;
				position: relative;
				@media (--800vp) {
					width: calc(50% - 1.5vh);
				}
				@media (--550vp) {
					width: calc(100% - 1vh);
				}
				img {
					display: none;
				}
				p {
					position: absolute;
					top: calc(50% - 70px);
					left: 0;
					display: none;
					width: 100%;
					text-align: center;
					color: var(--White);
					font-family: var(--HeadCopy);
					font-size: 25px;
					text-transform: uppercase;
					& svg {
						margin-top: 2vh;
					}
				}
				&:hover p {
					display: inherit;
				}
				.overlay {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: .5s ease;
					background-color: var(--PrimaryThree);
				}
				&:hover .overlay {
					opacity: 0.6;
				}
			}
		}
	}
}