/*-------------------------------------------------------------------
---------------------------------------------------------------------

  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

---------------------------------------------------------------------
-------------------------------------------------------------------*/


/*-----------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-----------------------------------------*/
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}