/*-----------------------------------------
    BUTTONS
-----------------------------------------*/

button,
.button {
	display: inline-block;
	padding: .75em 2.25em;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	border-radius: 28px;
	background: var(--PrimaryOne);
	outline: none;
	letter-spacing: 1px;
	font-family: var(--SubHeadBoldCopy);
	font-size: 16px;
	font-weight: 600;
	color: var(--WhiteCopy);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .25s ease-in-out;
	&:hover,
	&:focus,
	&.is-hover {
		background: color(var(--PrimaryOne) shade(15%));
	}
	&:active,
	&.is-active {
		background: color(var(--PrimaryOne) shade(30%));
	}
	&.is-secondary {
		background: var(--PrimaryThree);
		color: var(--BlackCopy);
		&:hover,
		&:focus,
		&.is-hover {
			background: color(var(--PrimaryOne) shade(15%));
			color: var(--WhiteCopy);
		}
		&:active,
		&.is-active {
			background: color(var(--PrimaryOne) shade(30%));
			color: var(--WhiteCopy);
		}
	}
	&.is-third {
		background: var(--PrimaryTwo);
		color: var(--BlackCopy);
		&:hover,
		&:focus,
		&.is-hover {
			background: color(var(--PrimaryTwo) shade(15%));
		}
		&:active,
		&.is-active {
			background: color(var(--PrimaryTwo) shade(30%));
		}
	}
	&.is-large {
		font-size: responsive 16px 20px;
		font-range: 420px 1400px;
	}
	&.is-ghost {
		background-color: transparent;
		padding: 0;
		text-decoration: none;
		position: relative;
		font-family: var(--SubHeadCopy);
		font-size: responsive 18px 22px;
		font-range: 420px 1400px;
		text-transform: uppercase;
		color: var(--PrimaryThree);
		@media (--800vp) {
			font-size: responsive 23px 28px;
			font-range: 420px 1400px;
		}
		&::after {
			content: '';
			background: var(--PrimaryOne);
			height: 7px;
			width: 0;
			position: absolute;
			bottom: -7px;
			left: 0;
			transition: all .25s ease-in-out;
			@media (--800vp) {
				display: none;
			}
		}
		&:hover,
		&:focus,
		&.is-hover,
		&.is-active {
			&::after {
				width: 100%;
			}
		}
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/

.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 35px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	& svg {
		width: 100%;
		height: auto;
		fill: var(--PrimaryThree);
		transition: all .25s ease-in-out;
	}
	&.facebook:hover svg {
		fill: #3b5998;
	}
	&.instagram:hover svg {
		fill: #d10869;
	}
	&.twitter:hover svg {
		fill: #1dcaff;
	}
	&.linkedin:hover svg {
		fill: #0077B5;
	}
	&.pinterest:hover svg {
		fill: #C92228;
	}
}

/*-----------------------------------------
    ANCHORS
-----------------------------------------*/

.anchor {
	position: relative;
	top: -110px;
}