/*-----------------------------------------
    FONTS
-----------------------------------------*/

@font-face {
	font-family: 'Arvo';
	src: url('../fonts/Arvo-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Arvo Thin';
	src: url('../fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway ExtraBold';
	src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway SemiBold';
	src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: var(--HeadCopy);
	font-weight: 400;
	color: var(--PrimaryOne);
	letter-spacing: 1px;
	margin: 1em 0 .35em 0;
}

h1,
.widget h1 {
	font-size: responsive 52px 72px;
	font-range: 420px 1400px;
	color: var(--PrimaryOne);
	font-family: var(--FunCopy);
}

h2,
.widget h2 {
	font-size: responsive 26px 36px;
	font-range: 420px 1400px;
}

h3,
.widget h3 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 18px 22px;
	font-range: 420px 1400px;
	text-transform: uppercase;
	color: var(--PrimaryThree);
}

h4,
.widget h4 {
	font-size: responsive 18px 24px;
	font-range: 420px 1400px;
}

h5,
.widget h5 {
	font-size: responsive 16px 22px;
	font-range: 420px 1400px;
}

h6,
.widget h6 {
	font-size: responsive 16px 20px;
	font-range: 420px 1400px;
}

/*-----------------------------------------
    SUBHEADINGS
-----------------------------------------*/

h1+h2 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 20px 24px;
	font-range: 420px 1400px;
	margin-top: -.35em;
	text-transform: none;
	color: var(--PrimaryThree);
}

h2+h3 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 22px;
	font-range: 420px 1400px;
	margin-top: -.35em;
	text-transform: none;
}

h3+h4 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 20px;
	font-range: 420px 1400px;
	margin-top: -.35em;
	text-transform: none;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/

p,
time {
	font-family: var(--BodyCopy);
	font-size: responsive 16px 18px;
	font-range: 420px 1400px;
	color: var(--BlackCopy);
	letter-spacing: 1px;
	line-height: 1.5;
}

strong,
b {
	color: var(--BlackCopy);
	font-family: Raleway ExtraBold, sans-serif;
}

ol,
ul {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px;
	font-range: 420px 1400px;
	padding-left: 1em;
}

li {
	font-family: var(--BodyCopy);
	color: var(--BlackCopy);
	line-height: 1;
	position: relative;
	background-size: 1.1em;
	background-position: left 18px;
	background-repeat: no-repeat;
	padding: 1rem 0;
}

ul {
	list-style: none;
	padding-left: 0;
	& li {
		line-height: 1.5;
		padding-left: 2em;
		background-image: url('../images/list-bullet.png');
	}
}

nav li {
	background-image: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	font-family: var(--BodyCopy-SemiBold);
	font-size: responsive 14px 18px;
	font-range: 420px 1400px;
	color: var(--PrimaryOne);
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {}
}

hr {
	height: 2px;
	margin: 16px 0;
	background: var(--PrimaryThree);
	border: none;
}

blockquote,
q {
	margin: 2em auto;
	padding: 1.5em;
	width: 90%;
	font-family: var(--BodyCopy);
	text-align: center;
	& p {
		font-size: responsive 14px 18px;
		font-range: 420px 1400px;
		&:last-child {
			font-family: var(--HeadCopy);
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			border-top: 3px solid var(--PrimaryTwo);
			display: inline-block;
			margin: 0 auto;
			padding: .5em 2em;
			& span {
				display: block;
			}
		}
	}
}