/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	width: 100%;
	text-align: right;
	overflow: hidden;
	margin: 1em 0;
	position: absolute;
	right: 0;
	bottom: 100px;
	@media (--1200vp) {
		bottom: 150px;
	}
	@media (--800vp) {
		text-align: center;
		position: initial;
	}
	& a {
		display: inline-block;
		position: relative;
		z-index: 2;
		&::after {
			display: none;
		}
	}
	& img {
		transform: translateX(100%);
		transition: all .5s ease-in-out;
		&.visible {
			transform: translateX(0);
			visibility: visible;
		}
		@media (--800vp) {
			transition: none;
			visibility: hidden;
		}
	}
}