/*-----------------------------------------
    FOOTER
-----------------------------------------*/

footer.site-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1vw;
	padding-bottom: calc(180px + 1vw);
	position: relative;
	@media (--800vp) {
		padding: 4vw;
		padding-bottom: 75px;
		justify-content: center;
	}
	& nav.secondary-nav {
		flex-grow: 2;
		@media (--1024vp) {
			margin: 1vh 0 3vh;
		}
		@media (--800vp) {
			width: 100%;
			margin: 0;
		}
		& ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0;
			margin: 0;
			list-style: none;
			width: 100%;
			@media (--800vp) {
				flex-wrap: wrap;
			}
		}
		& li {
			border-right: 1px solid var(--BlackCopy);
			padding: 0 .55em;
			margin: 0;
			@media (--800vp) {
				width: 50%;
				padding: 0;
				margin: 0;
				border: 0;
				line-height: 2.5;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				border: none;
			}
		}
		& a {
			font-size: responsive 14px 15px;
			font-range: 420px 1400px;
			text-decoration: none;
			color: var(--BlackCopy);
			@media (--800vp) {
				font-size: 16px;
			}
		}
	}
	& nav.social-nav {
		margin-top: 0;
		@media (--1200vp) {
			display: flex;
		}
		@media (--1024vp) {
			width: 50%;
			justify-content: center;
		}
		@media (--800vp) {
			width: 100%;
			margin-top: 4vh;
		}
		.social-button svg {
			fill: var(--PrimaryThree);
		}
	}
	&>p {
		font-size: responsive 11px 13px;
		font-range: 420px 1400px;
		display: inline-block;
		margin: 1em 0 0 0;
		width: 100%;
		@media (--800vp) {
			margin: 2em 0 0 0;
		}
		& a {
			font-size: responsive 11px 13px;
			font-range: 420px 1400px;
		}
	}
}