/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/

/*-----------------------------------------
    VARIABLES
-----------------------------------------*/

:root {
	--White: #ffffff;
	--Black: #000000;
	--PrimaryOne: #FF00A6;
	--PrimaryTwo: #E9FF00;
	--PrimaryThree: #00CBC6;
	--NeutralOne: #D8D8D8;
	--NeutralTwo: #879297;
	--NeutralThree: #F2F2F2;
	--WhiteCopy: #ffffff;
	--BlackCopy: #000000;
	--NeutralCopy: #879297;
	--FunCopy: 'Lobster', sans-serif;
	--HeadCopy: 'Raleway', sans-serif;
	--SubHeadCopy: 'Arvo', serif;
	--SubHeadBoldCopy: 'Arvo Thin', serif;
	--BodyCopy: 'Raleway', sans-serif;
	--BodyCopy-SemiBold: 'Raleway SemiBold', sans-serif;
	--BodyCopy-Bold: 'Raleway ExtraBold', sans-serif;
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/

@custom-media --550vp (width < 550px);
@custom-media --750vp (width < 750px);
@custom-media --800vp (width < 800px);
@custom-media --1024vp (width < 1024px);
@custom-media --1200vp (width < 1200px);
/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE
		WRITTEN IN CORRECT ORDER
-----------------------------------------*/

div {
	@media (--1200vp) {
		box-sizing: inherit;
	}
	@media (--1024vp) {
		box-sizing: inherit;
	}
	@media (--800vp) {
		box-sizing: inherit;
	}
	@media (--750vp) {
		box-sizing: inherit;
	}
	@media (--550vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/

body.admin-bar {
	margin-top: -32px;
	@media (--800vp) {
		margin-top: -46px;
	}
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;
	@media (--800vp) {
		top: -46px !important;
	}
	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}
	&:hover,
	&:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	@media (--550vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	@media (--550vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

.gallery {
	width: 120% !important;
	margin-left: -10% !important;
	position: relative;
	@media (--1200vp) {
		width: 100% !important;
		margin-left: 0 !important;
	}
	& figure {
		width: 33%;
		padding: 5px;
		margin: 0;
		@media (--800vp) {
			width: 50%;
		}
		& img {
			width: 100% !important;
		}
	}
}

.archive,
.blog,
.search {
	.title-section h1 {
		color: #ffffff;
	}
}

.circle-gradient {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: radial-gradient(circle, #ffffff, transparent, transparent);
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/

.default-contents {
	width: 100%;
	padding: 6rem 0;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-image: url(../images/glitter-bg.png);
		background-position: bottom -30px center;
		background-repeat: no-repeat;
		@media (--800vp) {
			background-position: bottom right;
			background-size: 1000px;
		}
	}
	@media (--800vp) {
		padding: 4rem 0;
	}
	&>.block {
		width: 90vw;
		max-width: 900px;
		margin: 0 auto;
		h2 {
			margin-top: 0;
		}
	}
	& img,
	& svg {
		max-width: 100%;
		height: auto;
	}
	&.two-column {
		background-image: none;
		padding: 10vh 0 50px;
		&>.block {
			max-width: 80vw;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			@media (--800vp) {
				max-width: 90vw;
			}
			&>h2 {
				width: 100%;
				text-align: center;
				& svg {
					display: block;
					margin: 3vh auto 0 auto;
				}
			}
			& .single-column {
				width: 50%;
				padding: 1vh 2vw;
				@media (--550vp) {
					width: 100%;
					padding: 0;
				}
			}
		}
	}
}

/*-----------------------------------------
   BACK TO TOP
-----------------------------------------*/

.back-to-top {
	transition: all 0.25s ease-in-out;
	position: fixed;
	height: 50px;
	width: 50px;
	color: var(--PrimaryTwo);
	right: 1.5%;
	bottom: -12%;
	z-index: 88890;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--Black);
	padding-bottom: 4px;
	border-radius: 50%;
	box-shadow: 0 0 0.375rem rgba(0, 0, 0, .65);
	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none !important;
	}
	svg {
		width: 50px;
		height: 50px;
	}
}

.show-back-to-top {
	bottom: 180px;
	@media (--1200vp) {
		right: 10px;
		bottom: 14%;
		margin-right: .5em;
	}
}