/*-----------------------------------------
  	META DATA
-----------------------------------------*/

.meta {
	& time {
		display: inline-block;
		margin-right: .25em;
	}
	& p {
		margin: 0;
		display: inline-block;
		margin-right: .25em;
	}
}

/*-----------------------------------------
  	POST
-----------------------------------------*/

.post-preview {
	width: 100%;
	height: 100%;
	padding: 10px 10px 75px 10px;
	position: relative;
	display: inline-block;
	z-index: 1;
	transition: all .25s linear;
	&:hover,
	&:focus {
		background: color(var(--PrimaryThree) tint(75%));
		& .button {
			background: var(--PrimaryOne);
			color: var(--WhiteCopy);
		}
	}
	& img {
		width: 100%;
	}
	& article header .featured-image {
		height: 230px;
		width: 100%;
		background-size: cover;
		background-position: 50%;
	}
	& h3 {
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		text-align: center;
		color: var(--BlackCopy);
		margin: .5em 0;
		padding-top: 3vh;
	}
	& p {
		text-align: center;
	}
	& p.price {
		font-family: var(--HeadCopy);
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		color: var(--PrimaryThree);
		text-align: center;
		margin: 0;
	}
	& .button {
		position: absolute;
		display: table;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		padding: .75em 1.25em;
		background: var(--PrimaryThree);
		color: var(--BlackCopy);
	}
}

.post-preview-kit {
	width: 100%;
	padding: 10px;
	padding: .625rem;
	margin: 25px 0;
	margin: 1.5625rem 0;
	position: relative;
	display: inline-block;
	transition: all .25s linear;
}

.pdf-card {
	width: 25%;
	padding: 1vh;
	display: inherit;
	position: relative;
	padding-top: calc(160px + 1vh);
	padding-bottom: 10vh;
	@media (--800vp) {
		width: 49%;
	}
	@media (--550vp) {
		width: 100%;
	}
	&:hover,
	&:focus {
		background: color(var(--PrimaryThree) tint(75%));
		& .button {
			background: var(--PrimaryOne);
			color: var(--WhiteCopy);
		}
	}
	svg {
		position: absolute;
		top: 1vh;
		left: 18%;
		@media (--800vp) {
			left: 28%;
		}
	}
	h5 {
		font-family: var(--BodyCopy);
		font-size: 18px;
		font-weight: 700;
		margin: 2vh 0 0;
		text-align: center;
		color: var(--BlackCopy);
	}
	p {
		font-family: var(--BodyCopy);
		font-size: 18px;
		text-align: center !important;
		color: var(--BlackCopy);
	}
	.button {
		font-size: 16px;
		line-height: 30px;
		margin: 2vh 0 0;
		padding: .75em;
		bottom: 20px;
		width: 100%;
		background: var(--PrimaryThree);
		color: var(--BlackCopy);
		position: absolute;
		display: table;
		left: 50%;
		transform: translateX(-50%);
	}
}

/*-----------------------------------------
  	SEARCH
-----------------------------------------*/

.search-term {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		background-color: var(--PrimaryTwo);
		bottom: -2px;
	}
}

.search-feed hr:last-of-type {
	display: none;
}

.search-no-results h5 {
	color: var(--BlackCopy);
}

.search-results {
	.post-preview {
		height: unset;
		padding: 10px;
		p {
			text-align: left;
		}
		h2 {
			margin: .35em 0;
		}
	}
}