/*-----------------------------------------
  	SINGLE POST
-----------------------------------------*/

.single {
	.page-title {
		height: unset;
		h1 {
			font-size: responsive 38px 48px;
			font-range: 420px 1400px;
			margin: 3vh 0;
		}
	}
	article {
		.default-contents {
			padding: 25px 2vw;
			max-width: 1200px;
			margin: 0 auto;
			&:after {
				display: none;
			}
		}
	}
}

.entry-time {
	color: var(--White);
	font-family: var(--SubHeadCopy);
	font-size: responsive 18px 22px;
	font-range: 420px 1400px;
	text-transform: uppercase;
}

.categories {
	margin: 0;
	a {
		color: var(--White);
		text-decoration: none;
	}
}