/*-----------------------------------------
    CONTACT
-----------------------------------------*/

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 25rem;
	position: relative;
	@media (--750vp) {
		height: auto;
	}
	& .guarantee {
		width: 50%;
		height: 100%;
		padding: 2vh 3vw;
		background-color: var(--Black);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (--750vp) {
			width: 100%;
			height: auto;
		}
		&>.block {
			position: relative;
			z-index: 2;
			max-width: 500px;
			& p {
				color: var(--WhiteCopy);
			}
		}
	}
	& .contact-details {
		width: 50%;
		height: 100%;
		background-image: url(../images/pink-glitter-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 20px;
		@media (--750vp) {
			width: 100%;
			height: auto;
		}
		.contact-details-inner {
			background-color: var(--White);
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding: 4vh 2vw;
			height: 100%;
			@media (--800vp) {
				padding: 4vh 4vw;
			}
		}
		&>.block {
			max-width: 500px;
		}
	}
}