/*-----------------------------------------
    JOIN
-----------------------------------------*/

.join-now {
	background-image: url(../images/pink-glitter-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	@media (--800vp) {
		padding: 12px;
	}
	.join-now-inner {
		background-color: var(--White);
		position: relative;
		padding: 8vh 4vw;
		&>h2 {
			text-align: center;
			margin: 1rem 0 2rem;
			@media (--800vp) {
				font-size: 30px;
			}
		}
		& .contents {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			@media (--800vp) {
				padding-bottom: 50px;
			}
			&>.block {
				width: 33%;
				padding: 1vh 2vw;
				@media (--800vp) {
					width: 100%;
					padding: 0 3vw;
				}
			}
		}
	}
	.join-now-cta {
		background-color: var(--White);
		position: absolute;
		padding: 24px;
		bottom: -10px;
		left: 50%;
		transform: translate(-50%, 50%);
		@media (--800vp) {
			padding: 0;
		}
		&>a.button {
			margin: 0;
			padding: 1.1em 2.7em;
			border-radius: 33px;
			@media (--800vp) {
				width: 75vw;
			}
		}
	}
}

#gallery-2 {
	& .gallery-item:last-of-type {
		width: 66%;
		@media (--800vp) {
			width: 50%;
		}
	}
}