/*-----------------------------------------
    STICKY DEALS
-----------------------------------------*/

.sticky-deal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 4px;
	background-image: url(../images/promo-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
	@media (--1200vp) {
		background-image: url(../images/promo-bg-fixed.jpg);
		position: relative;
		display: block;
		text-align: center;
		padding: 5vh 2vw;
	}
	& p {
		text-align: left;
		color: var(--WhiteCopy);
		display: inline-block;
		margin: 0 10px;
		position: relative;
		z-index: 2;
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		font-weight: 800;
		@media (--1200vp) {
			text-align: center;
			margin: 0 0 1em 0;
			width: 90%;
		}
		&.description {
			margin: 0 100px 0 10px;
			font-family: var(--BodyCopy-SemiBold);
			@media (--1024vp) {
				margin: 0 10px;
			}
		}
	}
	& p.deal {
		font-size: responsive 42px 42px;
		font-range: 420px 1400px;
		font-family: var(--BodyCopy-SemiBold);
		font-weight: 800;
		text-transform: uppercase;
		margin: 0 10px;
	}
	& a.button {
		margin: 0 10px;
		vertical-align: super;
		position: relative;
		z-index: 2;
		&:hover,
		&:focus {
			background: var(--White);
		}
	}
}