/*-----------------------------------------
   TESTIMONIES
-----------------------------------------*/

.testimonies {
	background-image: url(../images/testimonial-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 2vh 0;
	&>.block {
		position: relative;
		z-index: 2;
		max-width: 1024px;
		width: 90vw;
		margin: 0 auto;
		& h2 {
			color: var(--WhiteCopy);
			text-align: center;
			font-size: responsive 30px 35px;
			font-range: 420px 1400px;
		}
	}
}

/*-----------------------------------------
   TESTIMONIES SLIDER
-----------------------------------------*/

.testimonies-slider {
	position: relative;
	&>svg {
		cursor: pointer;
		z-index: 10;
		&:first-of-type {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-100%)
		}
		&:last-of-type {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-100%)
		}
	}
}

/*-----------------------------------------
   TESTIMONy PREVIEW
-----------------------------------------*/

.testimony {
	outline: none;
	& blockquote,
	q {
		& p {
			color: var(--WhiteCopy);
			font-size: 20px;
			font-family: var(--BodyCopy-SemiBold);
			&:first-child {
				text-align: left;
			}
			span {
				font-family: var(--SubHeadCopy);
			}
		}
	}
}