/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/

.title-section {
	width: 100%;
	padding: 5vh 0;
	background-color: var(--NeutralTwo);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&>.block {
		position: relative;
		z-index: 2;
	}
	& h1 {
		margin: 0 auto;
		width: 68vw;
		@media (--1024vp) {
			width: 90vw;
		}
		@media (--550vp) {
			font-size: 44px;
		}
	}
}

/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/

.page-title {
	height: 48vh;
	min-height: 400px;
	padding: 0 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	@media (--1200vp) {
		margin-top: 84px;
	}
	@media (--800vp) {
		padding-bottom: 0;
		min-height: 35vh;
		height: auto;
	}
	& h2 {
		color: var(--WhiteCopy);
		max-width: 600px;
		margin: .5em auto 1em;
		text-transform: uppercase;
		@media (--550vp) {
			font-size: 16px;
		}
	}
}

.home .page-title {
	@media (--1024vp) {
		background-image: url(/wp-content/uploads/2018/05/about.jpg) !important;
	}
	@media (--800vp) {
		min-height: 75vh;
	}
	h2 {
		color: var(--PrimaryThree);
		text-transform: uppercase;
		line-height: 1.5;
	}
}

/*-----------------------------------------
   POST TITLES
-----------------------------------------*/

.post-title {}

/*-----------------------------------------
   VIDEO BACKGROUNDS
-----------------------------------------*/

.video-wrap {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@media (--800vp) {
		display: none;
	}
	& video {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		left: 0;
		right: 0;
	}
}